
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- part welcome -->
  <div id="home" class="container px-4 text-center ">
    <div class="row gx-5 ">
      <h1 class="text-center my-4">Welcome</h1>
      <p>{{mess}}</p>
      <div class="col-6 my-5">
        <div class="p-2 text-start h_text">
          <h1>Welcome to our services</h1>
          <h1>We ready to make what you want</h1>
          <p class="mt-4">Welcome to our services. We always ready to help you, what ever you want. You can get every
            thig you want. You can contract us to what you need.<span class="text-primary"> We have best services,
              Thanks</span> </p>
          <button type="button" class="btn btn-outline-info">Our services</button>
        </div>
      </div>
      <div class="col-6">
        <div class="p-2">
          <img class="img-fluid" src="image/welcome.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- about us-->

  <div id="about" class="container overflow-hidden text-center my-5">
    <h1>About us</h1>
    <div class="row gx-5 my-5 ">
      <div class="col-6 ">
        <div class="p-3 ">
          <img class="img-fluid" src="image/about.svg" alt="">
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 text-start order-md-0">
          <h1>We are the best</h1>
          <h1>Our services is the top lavel servicees</h1>
          <p class="mt-4">We are the best service provider in the world. We are <span class="text-warning">top 10</span>
            service proveder in the world. We are active 24 hours. You can send message any time you want. So plz
            contract us what ever you want </p>
        </div>
      </div>
    </div>
  </div>
  {{!-- our team --}}
  <div id="team" class="container overflow-hidden text-center my-5">
    <h1>Our team</h1>
    <div class="row gx-5 my-5 ">
      <div class="col-6">
        <div class="p-3 text-start order-md-0">
          <h1>We have best team</h1>
          <h1>We the world bigest team</h1>
          <p class="mt-4">We are the best team the world. We have <span class="text-warning">1M worker</span> over the
            world. We are active 24 hours. You can send message any time you want. So plz contract us what ever you want
          </p>
        </div>
      </div>
      <div class="col-6 ">
        <div class="p-3 ">
          <img class="img-fluid" src="image/team.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  {{!-- our services --}}
<div id="Service" class="my-4 text-center">
    <h1>Our Services</h1>
    <p class="mt-4">Any kind of work we can do for you <span class="text-warning">like & more..</span></p>
  </div>
  <div class="card_box d-flex justify-content-between container">
    <div class="card" style="width: 18rem;">
      <img src="image/mobile_pament.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Mobile payment</h4>
        <p class="card-text">Any kind of payment. We can build. Thats world most save payment you can get</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="image/location.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Location</h4>
        <p class="card-text">Any kind of location. We can track easily. Thats world most gratest traker you can get</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="image/mobile_app.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Mobile App</h4>
        <p class="card-text">Any kind of Mobile app. We can build. Thats world most best app you can get</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="image/operation.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Operation System</h4>
        <p class="card-text">Any kind of Operation System. We can build easily. Thats world best Operation System you can get</p>
      </div>
    </div>
  </div>
  {{!-- address  --}}
  <div id="add" class="my-4 text-center">
    <h1 class="my-5">Our Location</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.1750760794985!2d90.27441044979722!3d24.024890584077014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755e7b08d447a0b%3A0xf131fd31736cda8!2sFas%20foysal!5e0!3m2!1sen!2sbd!4v1666629863874!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>
</html>