<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="my-5 text-center">Contract us</h1>
    <div class="con_style">
        <div id="con" class="mb-3 container">

            <form action="/" method="post">
                <label for="exampleFormControlInput1" class="form-label">Enter your name</label>
                <input name="name" type="text" class="form-control" id="name"
                    placeholder="Fas Foysal" required>

                <label for="exampleFormControlInput1" class="form-label">Address</label>
                <input name="address" type="text" class="form-control" id="address"
                    placeholder="Shafipur, Gazipur">

                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="email"
                    placeholder="name@example.com" required>
        </div>
        <div class="mb-3 container">
            <label for="exampleFormControlTextarea1" class="form-label"> Text area</label>
            <textarea name="text" class="form-control" id="text" rows="3" required></textarea>
            <button type="submit" class="btn btn-success mt-5">Send</button>
            </form>
        </div>
    </div>

</body>

</html>